.container-fluid
  label.inline Find circular: 
  input(ng-change="findCircular(circularFilter)", ng-model="circularFilter")
  table.table.table-bordered
    tr
      th Subject
      th Sent 
      th Edits
      th Views
    tr(ng-repeat="circular in circulars")
      td 
        a(ng-href="/mailer/edit_circular/{{circular._id}}") {{circular.subj}}
      td {{circular.updatedAt}}
      td
        button Edit
      td
        button View
