.col-md-4
  md-input-container
    label Find contact by email:
    input.md-whiteframe-z2(aria-label="contactFilter", ng-change="findContacts(contactsFilter)", ng-model="contactsFilter")
br
br
table.md-table
  tbody
    tr(ng-repeat="contact in contacts track by contact._id")
      td
        md-input-container
          input(ng-model="contact.name", aria-label="ContactName")
      td
        md-input-container
          input(ng-model="contact.email", aria-label="ContactEmail")
      td
        md-input-container
          md-checkbox.md-primary(aria-label="Broker", ng-model="contact.isBroker")
      td
        md-input-container
          md-checkbox.md-primary(aria-label="Charterer", ng-model="contact.isCharterer")
      td
        md-input-container
          md-checkbox.md-primary(aria-label="Owner", ng-model="contact.isOwner")
      td
        md-input-container
          md-checkbox.md-primary(aria-label="Active", ng-model="contact.active")
      td
        md-input-container
          md-select(aria-label="ContactRegion", ng-model="contact.region.name")
            md-option(ng-repeat="region in regions") {{region.name}}
      td
        md-input-container
          md-select(ng-model="contact.prefAccount", aria-label="ContactEmail", style="{width:4px}")
            md-option(ng-repeat="acc in accs") {{acc}}
      td
        md-button(ng-click="updateContact(contact)") Upd
      td
        md-button(ng-href="/mailer/edit_contact/{{contact._id}}") Edit
      td
        md-button(ng-click="showDeleteContactDialog(contact)") Del
