.container-fluid
  .row
    .col-sm-5
      form.inline-form(ng-submit="handleSubmitImportnBtn()", role="form", ng-init="importForm={}")
        .form-group
          label(for="email") Emails to import
          textarea.form-control#email(rows="5", required="reauired", name="email", ng-model="importForm.email")
        .form-group
          label(for="tonnage") Min tonnage operated
          input.form-control#tonnage(name="tonnage", ng-model="circularForm.tonnage")          
        .form-group
          fieldset
            label.checkbox-inline(for="isBroker") Broker flag
            input.checkbox-inline#isBroker(type="checkbox", name="isBroker", ng-model="importForm.isBroker")
            label.checkbox-inline(for="is_charterer") Charterer flag
            input.checkbox-inline#isCharterer(type="checkbox", name="isCharterer", ng-model="importForm.isCharterer")
            label.checkbox-inline(for="isCharterer") Owners flag
            input.checkbox-inline#isOwner(type="checkbox", name="isOwner", ng-model="importForm.isOwner")
        .form-group
          label(for="kind") Select tonnage kind
          select.form-control(ng-model="importForm.kind")
            option(ng-repeat="kind in kinds", value="{{kind._id}}") {{kind.name}}    
        .form-group
          label(for="region") Select region:  
          select.form-control(ng-model="importForm.region")
            option(ng-repeat="region in regions", value="{{region._id}}") {{region.name}}
        button.btn.btn-primary(type="submit") Start import
