div(ng-include='"components/navbar/navbar.html"')
div(ng-include='"components/mailer_sidebar/sidebar.html"')
.container-fluid
  .col-md-offset-2
    p Here goes main Mailer view
    div(ui-view="mailerViews")
