div(layout="column")
  .well
    md-list
      md-list-item
        md-button(ui-sref='mailer.circulars') Sent circulars
      md-list-item
        md-button(ui-sref='mailer.import') Import contacts
      md-list-item
        md-button(ui-sref='mailer.new_circular') New cercular
      md-list-item
        md-button(ui-sref='mailer.contacts') Contacts
